<ol class="breadcrumb bg-light">
      <li class="breadcrumb-item"><a href="../home">Home</a></li>
      <li class="breadcrumb-item active">User</li>
</ol>
<div class="container">
  <div class="row">
    <div class="col-lg-offset-3 col-lg-6">
      <div class="text-left">
        <label>Welcom back, <%= @user.name %> !!!! Logged in !!!!</label>
      </div>
    </div>
  </div>
</div>