<% nhan_map =
"https://www.google.com/maps/place/506+%C4%90%C6%B0%E1%BB%9Dng+3+Th%C3%A1ng+2,+ph%C6%B0%E1%BB%9Dng+14,+Qu%E1%BA%ADn+10,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/@10.7670248,106.6630872,17z/data=!3m1!4b1!4m5!3m4!1s0x31752ee7ce25c045:0xa0acb6bd2a93a83c!8m2!3d10.7670248!4d106.6652759"
%>
<%khanh_map="https://www.google.com/maps/place/10%C2%B05822.0%22N+106%C2%B02848.2%22E/@10.972768,106.480046,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d10.972768!4d106.480046"%>
<ol class="breadcrumb bg-light">
      <li class="breadcrumb-item"><a href="../home">Home</a></li>
      <li class="breadcrumb-item active">About</li>
</ol>
<div class="row ">
  <div class="container my-image col-lg-10">
    <h1 style="text-align:center;color:black">
      Nhóm 1412242 - 1412369
    </h1>
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <img src="khanh.jpg" alt="">
      </div>
      <div class="item col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <ul class="infor">
          <li>
            <i class="fa fa-user-o" aria-hidden="true"></i>
            Name : Quoc Khanh Nguyen</li>
          <li>
            <i class="fa fa-address-book" aria-hidden="true"></i>
            Mssv: 1412269</li>
          <li>
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            Email: lythanhnhan27294@gmail.com</li>
            <li>
              <i class="fa fa-location-arrow" aria-hidden="true"></i>
              <a href="<%=nhan_map%>">Địa chỉ</a>
        </ul>
      </div>
    </div>
    <div class="row" style="margin-top:20px;">
      <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <img src="nhan.jpg" alt="">
      </div>
      <div class="item col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <ul class="infor">
          <li>
            <i class="fa fa-user-o" aria-hidden="true"></i>
            Name : Ly Thanh Nhan</li>
          <li>
            <i class="fa fa-address-book" aria-hidden="true"></i>
            Mssv: 1412369</li>
          <li>
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            Email: lythanhnhan27294@gmail.com</li>
            <li>
              <i class="fa fa-location-arrow" aria-hidden="true"></i>
              <a href="<%=nhan_map%>">Địa chỉ</a>
        </ul>
      </div>
    </div>
  </div>
</div>
