body{
  background: #34495e;
}
.my-card {
  @extend .card;
  margin:15px;
}
.infor li {
  margin:10px;
  font: 15px;
}
.infor {
  @extend .list-group;
}
.my-image{
  margin-top: 50px;

}
.my-image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.my-image .row {
  border-left:2px solid green ;
  background: white;
  padding:10px;
  border-radius: 10px;
  width: 900px;
}
