<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<footer>
  <div class="container-fluid bg-dark py-2">
      <div class="row">
        <div class="col-sm-11 col-md-11 col-lg-11 col-xl-11">
          <p class="text-white">GENIUS</p>
        </div>
        <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1">
          <div class="d-inline-block">
            <div class="bg-circle-outline d-inline-block">
              <a href="https://www.facebook.com/" class="text-white"><i class="fa fa-1x fa-fw fa-facebook"></i>
		</a>
            </div>

            <div class="bg-circle-outline d-inline-block">
              <a href="https://twitter.com/" class="text-white">
                <i class="fa fa-1x fa-fw fa-twitter"></i></a>
            </div>
          </div>
        </div>
      </div>
  </div>
</footer>